<h3><%= t(:edit_audit_document_item)%></h3>

<%= render 'form' %>

<%= link_to t(:show), audit_document_audit_document_item_path(@audit_document, @audit_document_item) %> |
<%= link_to t(:back), audit_document_audit_document_items_path(@audit_document) %>