<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unit_of_measure.name %>
</p>


<%= link_to 'Edit', edit_unit_of_measure_path(@unit_of_measure) %> |
<%= link_to 'Back', unit_of_measures_path %>
