<h3><%= t(:edit_manager_shipping_addresses)%></h3>

<%= render 'form' %>

<%= link_to t(:show), manager_manager_shipping_address_path(@manager, @manager_shipping_address) %> |
<%= link_to t(:back), manager_manager_shipping_addresses_path(@manager) %>
