<h4>Export Orders:</h4>
<%=link_to "Download ZIP", :controller => "exchange", :action => "get_orders" %><br>
<h4>Import_handbooks:</h4>

<%= form_tag( {:action => 'upload'}, {:multipart => true} ) do %>
  <div class="field">
  	<%= file_field_tag "xml_file" %>
	</div>  
  <div class="actions">
  	<%= submit_tag "Upload", :class =>'btn' %>    
  </div>
<% end %>