<h3><%= t(:edit_manager_warehouse)%></h3>

<%= render 'form' %>

<%= link_to t(:show), manager_manager_warehouse_path(@manager, @manager_warehouse) %> |
<%= link_to t(:back), manager_manager_warehouses_path(@manager) %>
