<h3>Editing manager</h3>

<%= render 'form' %>
<%= link_to 'Edit manager shipping addresses', manager_manager_shipping_addresses_path(@manager), :class =>'btn' %><br><br>
<%= link_to 'Show', @manager %> |
<%= link_to 'Back', managers_path %>
