<h1>Editing shipping_address</h1>

<%= render 'form' %>

<%= link_to 'Show', customer_shipping_address_path(@customer, @shipping_address) %> |
<%= link_to 'Back', customer_shipping_addresses_path(@customer) %>
