<h3>Editing price_list_line</h3>

<%= render 'form' %>

<%= link_to 'Show', price_list_price_list_line_path(@price_list, @price_list_line) %> |
<%= link_to 'Back', price_list_price_list_lines_path(@price_list) %>
