<h3><%= t(:edit_product_price)%></h3>

<%= render 'form' %>

<%= link_to t(:show), price_list_price_list_line_path(@price_list, @price_list_line) %> |
<%= link_to t(:back), price_list_price_list_lines_path(@price_list) %>
