<p><%= t(:hello)%> <%= @resource.email %>!</p>

<p><%= t(:reset_password_mail_text)%></p>

<p><%= link_to t(:change_password), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>