<p>
  <b>Product:</b>
  <%= @order_item.product.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order_item.quantity %>
</p>


<%= link_to 'Edit', edit_order_order_item_path(@order, @order_item) %> |
<%= link_to 'Back', order_order_items_path(@order) %>
