<tr>
	<td><%= select_tag( 'template_route[template_route_points_attributes][new_template_route_points][shipping_address_id]', options_from_collection_for_select(@shipping_addresses, "id", "name"), {:include_blank => true, 'data-placeholder' => t(:select_shipping_address), :class => 'input-xlarge select2-field', :onchange => 'onShippingAddressChanged(this)'}) %></td>
  <td><%= label_tag 'template_route[template_route_points_attributes][new_template_route_points][shipping_address_id]', '', class: 'address_label' %></td>
  <td><%= check_box_tag('template_route[template_route_points_attributes][new_template_route_points][validity]', 1, true)%></td>
  <td>
  	<a onclick="onDestroy(this)"><i class='icon-remove' title="<%= t(:remove)%>"></i></a>
  </td>
</tr>