<h1>Editing template_route</h1>

<%= render 'form' %>
<%= link_to 'Edit template route points', template_route_template_route_points_path(@template_route), :class =>'btn' %><br><br>
<%= link_to 'Show', @template_route %> |
<%= link_to 'Back', template_routes_path %>
