<h3>Editing route</h3>

<%= render 'form' %>
<%= link_to 'Edit route points', route_route_points_path(@route), :class =>'btn' %><br><br>
<%= link_to 'Show', @route %> |
<%= link_to 'Back', routes_path %>
