/*
 = require twitter-bootstrap-static/bootstrap
 = require bootstrap-datetimepicker
 = require twitter-bootstrap-static/sprites
 = require select2
 = require bootstrap-fileupload
 = require tree
 = require gmaps4rails
 = require bootstrap-spinedit
*/

/* Thumbnail caption stylesheet */
#hover-cap-4col .thumbnail {
    position:relative;
    overflow:hidden;    
}
.caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    color:#fff !important;
}