<h3>Editing template_route_point</h3>

<%= render 'form' %>

<%= link_to 'Show', template_route_template_route_point_path(@template_route, @template_route_point) %> |
<%= link_to 'Back', template_route_template_route_points_path(@template_route) %>
